# =========================
# SERVER
# =========================
SERVER_PORT=8080

# =========================
# API (produção)
# =========================
API_WEBHOOK_URL=https://SEU_DOMINIO.COM/webhook/messages

# =========================
# AUTH (Evolution API)
# =========================
AUTHENTICATION_API_KEY=CHANGE_THIS_SECRET_KEY

# =========================
# POSTGRES
# =========================
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=connectai
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_THIS_PASSWORD

# =========================
# REDIS
# =========================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URI=redis://redis:6379
REDIS_PASSWORD=CHANGE_THIS_REDIS_PASSWORD

# =========================
# EVOLUTION
# =========================
EVOLUTION_API_URL=http://evolution-api:8080

# =========================
# OLLAMA
# =========================
OLLAMA_HOST=ollama
OLLAMA_PORT=11434
OLLAMA_MODEL_CHAT=llama3.2
OLLAMA_MODEL_EMBED=nomic-embed-text

# =========================
# WHATSAPP VERSION
# =========================
CONFIG_SESSION_PHONE_VERSION=2.3000.1026060092

# =========================
# LOG
# =========================
LOG_LEVEL=ERROR

# =========================
# FEATURES (Evolution)
# =========================
TYPEBOT_ENABLED=false
CHATWOOT_ENABLED=false
OPENAI_ENABLED=false
DIFY_ENABLED=false
FLOWISE_ENABLED=false
RABBITMQ_ENABLED=false
SQS_ENABLED=false
WEBSOCKET_ENABLED=false

# =========================
# WEBHOOK
# =========================
WEBHOOK_GLOBAL_ENABLED=true

# =========================
# CORS
# =========================
CORS_ORIGIN=*
