# Build outputs
bin/
obj/
out/

# Visual Studio / Rider
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# .NET
*.dll
*.exe
*.pdb
*.cache
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!**/packages/repositories.config

# Publish
publish/
**/Properties/PublishProfiles/

# Logs
*.log
logs/

# Environment / secrets
.env
.env.local
.env.*.local
appsettings.Production.json
appsettings.Staging.json

# Docker volumes
pgdata/
redisdata/

# Documentos locais
DEPLOY.md
ROADMAP.md

# OS
.DS_Store
Thumbs.db
desktop.ini

# Test results
TestResults/
*.trx
coverage/
*.coveragexml
